﻿<!DOCTYPE html>
<html lang="en" data-textdirection="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="Isonex Capital presents &quot;IX15&quot; - the world's first tokenized equal weighted cryptocurrency index fund. Owning IX15 token results in always holding the top 15 tokens in the cryptocurrency market. Investing in IX15 means believing in the future of blockchain and the cryptocurrency ecosystem.">
    <meta name="keywords" content="isonex, capital, isonex capital, ix15, index, fund, equal weighted, ico, token sale, cryptocurrency, bitcoin, ethereum, blockchain">
    <meta name="author" content="Isonex Capital">
    <title>ISONEX CAPITAL - The World's First Tokenized Equal Weight Cryptocurrency Fund</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124445582-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124445582-1');
    </script>

    <link rel="apple-touch-icon" href="~/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/images/ico/favicon.ico?v=3">
    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400,500,700" rel="stylesheet">

    <!--Font icons-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->

    <meta property="og:title" content="ISONEX Capital - The World's First Tokenized Equal Weight Cryptocurrency Fund"/>
    <meta property="og:image" content="//isonex.io/images/isonex-logo-social-share.png"/>
    <meta property="og:description" content="Isonex Capital presents &quot;IX15&quot; - the world's first tokenized equal weighted cryptocurrency index fund. Owning IX15 token results in always holding the top 15 tokens in the cryptocurrency market. Investing in IX15 means believing in the future of blockchain and the cryptocurrency ecosystem."/>
    <meta property="og:url" content="//isonex.io" />

    <link rel="stylesheet" type="text/css" href="~/css/site.min.css" asp-append-version="true">
@{
/*
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/themify/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/flipclock/flipclock.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/swiper/css/swiper.min.css">
    <!-- END VENDOR CSS-->
    <!-- END CRYPTO CSS-->
    <!-- BEGIN Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="~/css/template-3d-animation.css">
    END Page Level CSS
*/
}
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css?v=2">f
    <script src="~/vendors/vendors.min.js"></script>    
  </head>
  <body class=" 1-column undefined   svg-wrapper" data-menu-open="hover" data-menu="">

      @if (ViewData["SPA"] as bool? ?? false) { 

<div id="loader-wrapper">
    <svg viewbox=" 0 0 512 512" id="loader">
        <linearGradient id="loaderLinearColors" x1="0" y1="0" x2="1" y2="1">
            <stop offset="5%" stop-color="#28bcfd"></stop>
            <stop offset="100%" stop-color="#1d78ff"></stop>
        </linearGradient>        
        <g>
            <circle cx="256" cy="256" r="150" fill="none" stroke="url(#loaderLinearColors)" />
        </g>
        <g>
            <circle cx="256" cy="256" r="125" fill="none" stroke="url(#loaderLinearColors)" />
        </g>
        <g>
            <circle cx="256" cy="256" r="100" fill="none" stroke="url(#loaderLinearColors)" />
        </g>
        <g>
            <circle cx="256" cy="256" r="75" fill="none" stroke="url(#loaderLinearColors)" />
        </g>
        <circle cx="256" cy="256" r="60" fill="url(#loaderImage)" stroke="none" stroke-width="0" />

        <!-- Change the preloader logo here -->
        <defs>
            <pattern id="loaderImage" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                <image href="@Url.Content("~/images/loader-logoH.png")" preserveAspectRatio="none" width="1" height="1"></image>
            </pattern>
        </defs>
    </svg>

    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
      }

      @if (ViewData["SPA"] as bool? ?? false)
      {
<nav class="vertical-social">
    <ul>
        <li><a target="_blank" href="https://www.linkedin.com/company/isonexcapital/" title="LinkedIn"><i class="fa fa-linkedin"></i></a></li>
        <li><a target="_blank" href="https://t.me/isonexio"><i class="fa fa-telegram" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://medium.com/isonex"><i class="fa fa-medium" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.facebook.com/isonexcapital/"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://twitter.com/isonexcapital"> <i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://www.reddit.com/r/isonex/"><i class="fa fa-reddit" aria-hidden="true"></i></a></li>
        <li><a target="_blank" href="https://github.com/Isonex25/smartcontracts"><i class="fa ti-github" aria-hidden="true"></i></a></li>
    </ul>
</nav>
      }

    <header class="page-header">
      <nav class="main-menu static-top navbar-dark navbar navbar-expand-lg fixed-top mb-1"><div class="container">
    <a class="navbar-brand animated" data-animation="fadeInDown" data-animation-delay="1s" href="@((ViewData["SPA"] as bool? ?? false) ? "#head-area" : "/")">
        <img src="~/images/isonex_logoH.png" alt="Isonex Capital - Equal Weight Cryptocurrency Index Fund"/><span class="brand-text"><span class="font-weight-bold">ISONEX CAPITAL</span></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div id="navigation" class="navbar-nav ml-auto">
            <ul class="navbar-nav mt-1">
                <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.2s">
                    <a class="nav-link" href="/#why-invest">Why Index Investing?</a>
                </li>
                <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.2s">
                    <a class="nav-link" href="/#why-ix15">Why IX15</a>
                </li>

                <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.3s">
                    <a class="nav-link" href="/#whitepaper">White Paper</a>
                </li>
                <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.4s">
                    <a class="nav-link" href="/#token-sale-mobile-app">Token Sale</a>
                </li>
                <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.5s">
                    <a class="nav-link" href="/#roadmap">Roadmap</a>
                </li>
                <li class="dropdown show mr-2 px-2 animated" data-animation="fadeInDown" data-animation-delay="1.6s">
                    <a class="dropdown-toggle white" href="#" role="button" id="more" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">More</a>
                    <div class="dropdown-menu" aria-labelledby="more">
                        <a class="dropdown-item" href="/#benefits">Benefits</a>
                        <a class="dropdown-item" href="/Documents/Isonex_Litepaper">Lightpaper</a>
                        <a class="dropdown-item" href="/#token-security">Security</a>
                        <a class="dropdown-item" href="/#team">Team</a>
                        <a class="dropdown-item" target="_blank" href="https://medium.com/isonex">Blog</a>
                        <a class="dropdown-item" href="/#faq">FAQ</a>
                        <a class="dropdown-item" href="/#contact">Contact</a>
                    </div>
                </li>
                @await Html.PartialAsync("_LoginPartial")

                @*<li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.5s">
            <a class="nav-link" href="/#account/login">Login</a>
        </li>*@
                <!-- <li class="dropdown show mr-4 animated" data-animation="fadeInDown" data-animation-delay="1.7s">
        <a class="dropdown-toggle" href="#" role="button" id="language" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="flag-icon flag-icon-us"></span> EN</a>
        <div class="dropdown-menu" aria-labelledby="language">
            <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-de"></span> GN</a>
            <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-es"></span> SP</a>
            <a class="dropdown-item" href="#"><span class="flag-icon flag-icon-mq"></span> FR</a>
        </div>
    </li> -->
            </ul>
            <span id="slide-line"></span>
        </div>
    </div>
</div>
      </nav>
      <!-- /Horizontal Menu End-->
    </header>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5bc31c9108387933e5bb4256/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>

<!--End of Tawk.to Script-->

    <!-- /Header End-->




        @RenderBody()

   <!-- //////////////////////////////////// FOOTER ////////////////////////////////////-->
   <footer class="footer static-bottom footer-dark footer-custom-class" data-midnight="white">
        <div class="container">
            <div class="footer-wrapper">
                <div class="row">
                    <div class="col-md-4">

                        <div class="about">
                            <div class="title">

                                <span class="logo-text">Contact</span>
                            </div>
                            <div class="title">

                                <p class="grey-accent2"><strong>Isonex Capital</strong> <br> Zephyr House, 122 Mary Street<br>George Town, KY1-1206<br>Cayman Islands</p>

                                <p class="grey-accent2">Tel: +1-345-749-8307</p>

                                <p class="grey-accent2"><a href="mailto:info@isonex.io">info@isonex.io</a></p>

                            </div>
                        </div>

                        <div class="about">
                            <div class="title animated" data-animation="fadeInUpShorter" data-animation-delay="0.2s">
                                <img src="~/images/isonex_logoH.png" alt="Isonex Capital - Equal Weight Cryptocurrency Index Fund">
                                <span class="logo-text">ISONEX CAPITAL</span>
                            </div>
                            <div class="about-text animated" data-animation="fadeInUpShorter" data-animation-delay="0.3s">
                                <p class="grey-accent2">IX15 is the world's first tokenized equal weight cryptocurrency index fund.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="links">
                            <h5 class="title">Resources</h5>
                            <ul class="useful-links">
                                <li>
                                    <a href="#whitepaper">White Paper</a>
                                </li>
                                <li>
                                    <a target="_blank" href="/Documents/Isonex_Litepaper">Light Paper</a>
                                </li>
                                <li>
                                    <a href="~/documents/Isonex_SlideDeck">Slide Deck</a>
                                </li>
                                <li>
                                    <a target="_blank" href="https://github.com/Isonex25/smartcontracts">GitHub</a>
                                </li>
                            </ul>
                        </div>

                        <br />
                        <br />
                        <div class="links">
                            <h5 class="title">Legal</h5>
                            <ul class="useful-links">
                                <li>
                                    <a href="/terms">Terms</a>
                                </li>
                                <li>
                                    <a href="/privacy-policy">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/cookies">Cookie Policy</a>
                                </li>
                                @*<li>
                                    <a href="/terms">License</a>
                                </li>*@
                            </ul>
                        </div>

                    </div>

                    @if (ViewData["SPA"] as bool? ?? false)
                    {
                        <div class="col-md-4">
                            <div class="feed">
                                <h5 class="title animated" data-animation="fadeInUpShorter" data-animation-delay="0.8s">Twitter Feed</h5>
                                <div class="tweets">
                                    <a class="twitter-timeline" data-height="350" data-theme="light" href="https://twitter.com/isonexcapital?ref_src=twsrc%5Etfw">Tweets by Isonex Capital</a>
                                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                                    @*https://publish.twitter.com/?maxheight=350&query=https%3A%2F%2Ftwitter.com%2Fshanselman%3Flang%3Den&theme=light&widget=Timeline*@

                                    @*<span class="animated" data-animation="fadeInUpShorter" data-animation-delay="1.2s">More information about Isonex Capital: https://t.co/JHSD34JHB</span>*@
                                </div>
                            </div>
                        </div>
                    }
                    </div>

                <div class="footer-disclaimer">
                    <p>IMPORTANT LEGAL DISCLAIMER Access to products and services detailed on this website may be restricted for certain persons or countries.  YOU MAY NOT MAKE OR ACQUIRE AN IX15 TOKEN IF YOU ARE A CITIZEN, RESIDENT (TAX OR OTHERWISE) OR GREEN CARD HOLDER OF THE UNITED STATES OF AMERICA OR A MEMBER OF THE “PUBLIC” IN THE CAYMAN ISLANDS. “PUBLIC” FOR THESE PURPOSES DOES NOT INCLUDE (I) ANY LIMITED LIABILITY COMPANY REGISTERED UNDER THE LIMITED LIABILITY COMPANIES LAW (2018 REVISION) AS AMENDED, (II) ANY EXEMPTED COMPANY OR ORDINARY NON-RESIDENT COMPANY REGISTERED UNDER THE CAYMAN ISLANDS COMPANIES LAW (2018 REVISION), AS AMENDED, (III) A FOREIGN COMPANY REGISTERED PURSUANT TO PART IX OF THE CAYMAN ISLANDS COMPANIES LAW (2018 REVISION) AS AMENDED, (IV) ANY SUCH COMPANY ACTING AS GENERAL PARTNER OF A PARTNERSHIP REGISTERED UNDER SECTION 9(1) OF THE CAYMAN ISLANDS EXEMPTED LIMITED PARTNERSHIP LAW (2018 REVISION) AS AMENDED, OR (V) ANY DIRECTOR OR OFFICER OF THE SAME ACING IN SUCH CAPACITY OR THE TRUSTEE OF ANY TRUST REGISTERED OR CAPABLE OF REGISTRATION UNDER SECTION 74 OF THE TRUSTS LAW (2018 REVISION) AS AMENDED, ACTING IN SUCH CAPACITY.</p>
                </div>
                <div class="copy-right mx-auto text-center">
                    <span class="copyright">Copyright &copy; 2018
                        <a href="http://isonex.io" title="isonex.io" class="white">ISONEX CAPITAL</a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- BEGIN VENDOR JS-->

    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="~/vendors/flipclock/flipclock.min.js"></script>
    <script src="~/vendors/swiper/js/swiper.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME JS-->
    <script src="~/js/theme.js?v=3"></script>
    <script src="~/js/echarts.min.js"></script>    
    <script src="~/js/sales-notification.js"></script>

      <script src="~/assets/js/scripts.js"></script>
      <script src="~/js/chartcomparisons/chart.js"></script>
      <script src="~/js/chartcomparisons/fundcomparisons.js"></script>
    <!-- END CRYPTO JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <!-- END PAGE LEVEL JS-->

    @RenderSection("Scripts", required: false)


  </body>
</html>