@using Microsoft.AspNetCore.Identity
@using IdentityDemo.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.5s">
        <a class="nav-link" href="/account">My Account</a>
    </li>
}
else
{
    <li class="nav-item animated" data-animation="fadeInDown" data-animation-delay="1.5s">
        <a class="nav-link" href="/account/login">Login</a>
    </li>
}
