﻿@model IdentityDemo.Controllers.DepositViewModel
@{
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
    ViewBag.BreadCrumbPage = "Deposit";
}



<!-- *PAGE* -->
<div class="animated fadeIn">


    @if (!Model.AcceptedTerms)
    {
        <div class="card card-accent-info">
            <div class="card-header">Terms and Conditions</div>
            <div class="card-body">
                <p>
                    Please take the time to read through our <a target="_blank" href="/terms">terms and conditions</a> before proceeding.
                </p>

                <form asp-action="AcceptTerms" method="post">
                    Please state that you have read and agreed to our terms and conditions <button type="submit">I Agree</button>
                </form>
            </div>
        </div>
    }
    else if (Model.IsVerified)
    {

        if (string.IsNullOrEmpty(Model.PersonalEthereumAddress))
        {

            <div class="card card-accent-info">
                <div class="card-header">Ethereum Address</div>
                <div class="card-body">

                    <p>
                        IX15 tokens are Ethereum based tokens. They must be stored in an Ethereum wallet. Please specify the address of the Ethereum address you would like to receive your IX15 tokens in.
                    </p>

                    <p>
                        If you require assistance creating a new Ethereum wallet to store your IX15 tokens in, please read our <a target="_blank" href="#">help guide</a>.
                    </p>

                    <br />

                    <div class="row">



                        <div class="col-md-3">
                        </div>

                        <div class="col-md-6">

                            <form action="set-personal-address" method="post" class="form-horizontal" style="margin: auto">
                                <div class="card card-accent-info">

                                    <div class="card-header">
                                        <strong>Your Ethereum Wallet Address</strong>
                                    </div>

                                    <div class="card-body">

                                        <div class="form-group">
                                            <input asp-for="PersonalEthereumAddress" type="text" class="form-control" id="PersonalEthereumAddress" name="PersonalEthereumAddress" placeholder="Enter Your Ethereum Wallet Address (Public Key)">
                                            <span asp-validation-for="PersonalEthereumAddress" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Set Ethereum Address</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="col-md-3">
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {



            <div class="card card-accent-info">
                <div class="card-header">Deposit Options</div>
                <div class="card-body">
                    <div class="col-lg-12">
                        <p class="text-center">
                            Choose your preferred deposit method.
                        </p>
                    </div>
                    <p>
                        <div class="row">
                            <div class="col-1 col-md-3">
                            </div>
                            <div class="col-5 col-md-3">
                                <button class="btn btn-square btn-block btn-dark" data-toggle="collapse" onclick="$('.card-bitcoin').collapse('hide');$('.card-ethereum').collapse('show'); ">Ethereum</button>
                            </div>

                            <div class="col-5 col-md-3">
                                <button class="btn btn-square btn-block btn-success" data-toggle="collapse" onclick="$('.card-ethereum').collapse('hide'); $('.card-bitcoin').collapse('show');">Bitcoin</button>
                            </div>
                            <div class="col-1 col-md-3">
                            </div>
                        </div>
                    </p>
                    <div class="bd-example">
                        <p>
                        </p>
                    </div>
                </div>
            </div>

            <div class="card-ethereum collapse">

                <div class="card card-accent-info">
                    <div class="card-header">Ethereum Deposit <img src="/images/svg/svg-animation/eth.svg" style="width:12px; margin-right:20px;" class="float-left" /></div>
                    <div class="card-body">
                        <p>


                        </p>
                        <div class="bd-example">
                            <p>
                                Send your Ether to the following Ethereum address: @Model.EthereumDepositingAddress
                            </p>

                            <p class="text-danger small">
                                Send only Ether to this address.
                            </p>

                            <p class="text-danger small">
                                Do not send Ether from an exchange. Please make sure you own the private key to the Ethereum account you are depositing from as we will be sending your IX15 tokens to this Ethereum address.
                            </p>
                        </div>

                        <br />
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-4" style="margin: 0 auto;">
                                <div class="card card-accent-info">
                                    <div class="card-header">IX15 Token Calculator</div>
                                    <div class="card-body">


                                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" onsubmit="return false;">
                                            <div class="form-group row">
                                                <label class="col-md-6 col-form-label" for="text-input">Ether Deposit Amount</label>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="etherDepositAmount" type="number" name="text-input" min="0" step="0.000000000000000001">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <button class="btn btn-block btn-primary" type="submit" onclick="calculateNumberOfTokens()">Calculate</button>
                                            </div>

                                            <div class="form-group row calculator-result hidden">
                                                <label class="col-md-6 col-form-label" for="disabled-input">Current Ether Price ($)</label>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="etherUsdPrice" type="text" name="disabled-input" disabled="">
                                                </div>
                                            </div>
                                            <div class="form-group row calculator-result hidden">
                                                <label class="col-md-6 col-form-label" for="disabled-input">IX15 Price ($)</label>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="ix15UsdPrice" type="text" name="disabled-input" disabled="">
                                                </div>
                                            </div>

                                            <div class="form-group row calculator-result hidden">
                                                <label class="col-md-6 col-form-label" for="disabled-input">Number of IX15 tokens</label>
                                                <div class="col-md-6">
                                                    <input class="form-control" id="numberOfIx15TokensToReceive" type="text" name="disabled-input" disabled="">
                                                </div>
                                            </div>
                                        </form>

                                        <small>This calculator shows the estimated number of IX15 tokens received for a given number of deposited Ether</small>
                                        <small>Note that the actual number of tokens awarded is dependent on the Ether USD price at the time of the deposit.</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-bitcoin collapse">
                <div class="card card-accent-info">
                    <div class="card-header">Bitcoin Deposit <img src="/images/svg/svg-animation/btc2.svg" style="width:20px; margin-right:20px;" class="float-left" /></div>
                    <div class="card-body">
                        <p>


                        </p>
                        <div class="bd-example">
                            <p>
                                Send your Bitcoin to the following Bitcoin address:
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else if (Model.VerificationPending)
    {
        <div class="card card-accent-info">
            <div class="card-header">Account Verification Pernding</div>
            <div class="card-body">
                <div class="bd-example">
                    <p>
                        Your identification verification has been submitted and is currently pending approval.
                    </p>
                </div>
            </div>
        </div>
    }
    else
    {

        @*<div class="card card-accent-info">
                <div class="card-header">Account Verification Required</div>
                <div class="card-body">
                    <p>
                        Please complete your identity verification before participating in the token sale.

                    </p>
                    <div class="bd-example">
                        <p>
                            Please click <a asp-controller="Account" asp-action="Verification" class="btn-ghost-dark">here</a> to fill out the verification form.
                        </p>
                    </div>
                </div>
            </div>*@

        <div class="card card-accent-info">
            <div class="card-header">Account Verification Required</div>
            <div class="card-body">
                <p>
                    Identification verification is required.
                </p>
                <div class="bd-example">
                    <p>
                        Please email <a href="mailto:info@isonex.io">info@isonex.io</a> with proof of identity (passport, national identification document, driving licence, ...).
                    <p />
                    <p>
                        You will receive a confirmation email once we review and verify your account.
                    </p>
                </div>
            </div>
        </div>
    }


</div>
                <!-- /*PAGE* -->


                <script>

                    function calculateNumberOfTokens() {

                        $.get('/Account/GetNumberOfTokensFor?ether=' + $('#etherDepositAmount').val(), function (result) {

                            debugger;
                            $('#etherUsdPrice').val(result.etherUsdPrice);
                            $('#ix15UsdPrice').val(result.ix15UsdPrice);
                            $('#numberOfIx15TokensToReceive').val(result.amount);

                            $('.calculator-result').removeClass('hidden');
                        })

                    }

                </script>
