﻿@model IdentityDemo.Controllers.AccountModel

@{
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
    ViewBag.BreadCrumbPage = "Dashboard";
}

<!-- *DASHBOARD* -->
<div class="animated fadeIn">


    <div class="row">

        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-3 d-flex align-items-center">
                    <i class="fa fa-bar-chart bg-primary p-3 font-2xl mr-3"></i>
                    <div>
                        <div class="text-value-sm text-primary">N/A</div>
                        <div class="text-muted text-uppercase font-weight-bold small">Token NAV</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-3 d-flex align-items-center">
                    <i class="fa fa-dollar bg-primary p-3 font-2xl mr-3"></i>
                    <div>
                        <div class="text-value-sm text-primary">N/A</div>
                        <div class="text-muted text-uppercase font-weight-bold small">Fund Value</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-3">
            <div class="card">
                <div class="card-body p-3 d-flex align-items-center">
                    <i class="fa fa-hashtag bg-primary p-3 font-2xl mr-3"></i>
                    <div>
                        <div class="text-value-sm text-primary">N/A</div>
                        <div class="text-muted text-uppercase font-weight-bold small">IX15 Token Count</div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!--/.row-->
    <div class="card" id="nav">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">NAV Price - Tracked after the token sale</h4>
                    @*<div class="small text-muted">November 2015</div>*@
                </div>
                <!--/.col-->
                @*<div class="col-sm-7 d-none d-md-block">
                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="options" id="option1"> Day
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="radio" name="options" id="option2" checked=""> Month
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="options" id="option3"> Year
                            </label>
                        </div>
                    </div>
                </div>*@
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="height: 300px; margin-top: 40px;">
                <canvas id="nav-price-chart" class="chart" height="300"></canvas>
            </div>
        </div>
    </div>



    @*<!--/.row-->
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-5">
                    <h4 class="card-title mb-0">Performance Comparison</h4>
                    <div class="small text-muted">November 2015</div>
                </div>
                <!--/.col-->
                <div class="col-sm-7 d-none d-md-block">
                    <div class="btn-toolbar float-right" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-3" data-toggle="buttons" aria-label="First group">
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="options" id="option1"> Day
                            </label>
                            <label class="btn btn-outline-secondary active">
                                <input type="radio" name="options" id="option2" checked=""> Month
                            </label>
                            <label class="btn btn-outline-secondary">
                                <input type="radio" name="options" id="option3"> Year
                            </label>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
            <div class="chart-wrapper" style="height: 300px; margin-top: 40px;">
                <canvas id="performance-comparison-chart" class="chart" height="300"></canvas>
            </div>
        </div>
        <div class="card-footer">
            <ul>
                <li>
                    <div class="text-muted">IX15</div>
                    <strong>IX15</strong>
                    <div class="progress progress-xs mt-2">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="d-none d-md-table-cell">
                    <div class="text-muted">Stock proxy (Vanguard Total World Stock ETF)</div>
                    <strong>Vanguard Total World Stock ETF</strong>
                    <div class="progress progress-xs mt-2">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li>
                    <div class="text-muted">Bond (Vanguard Total Bond Market ETF)</div>
                    <strong>Vanguard Total Bond Market ETF</strong>
                    <div class="progress progress-xs mt-2">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
                <li class="d-none d-md-table-cell">
                    <div class="text-muted">CRIX</div>
                    <strong>CRIX</strong>
                    <div class="progress progress-xs mt-2">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>*@

    @*<div class="row" id="fund">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Current Portfolio
                </div>
                <div class="card-body">
                    <!--/.row-->
                    <br>
                    <table class="table table-responsive-sm table-hover table-outline mb-0">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center">Token</th>
                                <th class="text-center">Amount</th>
                                <th class="text-center">Market Cap</th>
                                <th class="text-center">Rank</th>
                                <th class="text-center">Date Added</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var holding in Model.Holdings)
                            {
                                <tr>
                                    <td class="text-center">
                                        @holding.Coin
                                    </td>
                                    <td class="text-center">
                                        @holding.Amount
                                    </td>
                                    <td class="text-center">
                                        @holding.MarketCap
                                    </td>
                                    <td class="text-center">
                                        @holding.Rank
                                    </td>
                                    <td class="text-center">
                                        @holding.DateAddedToFund
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->*@


    @*<div class="row">

        @{
            var classes = new[] { "bg-primary", "bg-info", "bg-warning", "bg-danger" };
            var i = 0;
        }

        @foreach (var holding in Model.Holdings)
        {
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white @(classes[new Random().Next(4)])">
                    <div class="card-body pb-0">
                        <div class="btn-group float-right">
                            <button type="button" class="btn btn-transparent dropdown-toggle p-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="icon-settings"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                        <h4 class="mb-0"> @holding.Coin</h4>
                        <p>$2,536</p>
                    </div>
                    <div class="chart-wrapper px-3" style="height: 70px;">
                        <canvas id="@("card-chart" + ++i)" class="chart" height="70"></canvas>
                    </div>
                </div>
            </div>

        }
    </div>*@

</div>
<!-- /*DASHBOARD* -->
@section Scripts{

    <script>
        window.crixPrices = [];

        var myArray = [];

        @foreach (var d in Model.CrixPriceHistory)
        {
            @:window.crixPrices.push(@d.Price);
        }

    </script>

    <script src="~/account/js/views/nav-price-chart.js"></script>
    <script src="~/account/js/views/performance-comparison-chart.js"></script>
    <script src="~/account/js/views/coin-boxes.js"></script>
}