﻿@model IdentityDemo.Models.AccountViewModels.IxTeamMember
@{
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
    ViewBag.BreadCrumbPage = "Team Page";
}

<!-- *PAGE* -->
<div class="animated fadeIn">

    <div class="card card-accent-info">
        <div class="card-header">My Ethereum Account</div>
        <div class="card-body">
            <div class="bd-example">

                <div class="row">

                    @if (!string.IsNullOrEmpty(Model.EthereumAccount))
                    {
                        <span>Your registered Ethereum Account : @Model.EthereumAccount</span>
                    }

                </div>

                <br />

                <div class="row">

                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">


                        <form action="ix-team" method="post" class="form-horizontal" style="margin: auto">
                            <div class="card card-accent-info">

                                <div class="card-header">
                                    <strong>@(string.IsNullOrEmpty(Model.EthereumAccount) ? "Set" : "Update") your personal Ethereum Address</strong>
                                </div>

                                <div class="card-body">

                                    <div class="form-group">
                                        <label for="EthereumAccount">Address (Public Key)</label>
                                        <input asp-for="EthereumAccount" type="text" class="form-control" id="EthereumAccount" name="EthereumAccount" placeholder="Enter Your Ethereum Address">
                                        <span asp-validation-for="EthereumAccount" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Set Ethereum Address</button>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="col-md-3">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- /*PAGE* -->
