﻿@model LoginViewModel

@{
    Layout = "";
    var showResendObj = ViewData["ShowResend"];
    bool showResend = false;
    if (showResendObj != null)
    {
        showResend = (bool)showResendObj;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/images/ico/favicon.ico?v=3">
    <title>ISONEX CAPITAL - Login</title>
    <!-- Icons -->
    <link href="~/account/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/account/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/account/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card-group">
                    <div class="card p-2">
                        <div class="card-body">
                            
                            <h1>Login</h1>

                            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                <div class="row">

                                    <div asp-validation-summary="All" class="text-danger"></div>

                                    <div class="col-12 text-center pb-4">
                                        @if (showResend)
                                        {
                                            <a asp-action="ResendConfirmationEmail">Resend Confirmation Email</a>
                                        }
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-addon"><i class="icon-user"></i></span>
                                        <input asp-for="Email" class="form-control" placeholder="Email" />
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-addon"><i class="icon-lock"></i></span>
                                        <input asp-for="Password" class="form-control" placeholder="Password" />
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <!-- <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMe">
                <input asp-for="RememberMe" />
                @Html.DisplayNameFor(m => m.RememberMe)
            </label>
        </div>
    </div> -->


                                <div class="row pt-4">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4">Login</button>
                                    </div>
                                    <div class="col-6 text-right">
                                        <p>
                                            <a asp-action="ForgotPassword">Forgot password?</a>
                                        </p>
                                    </div>
                                </div>

                            </form>


                            @*<p class="content-desc">Trouble logging in? Contact us: info@isonex.io</p>
                            <ul class="list-unstyled contact-info pb-5 mb-5">
                                <li>
                                    <i class="ti-email"></i>
                                    <span class="ml-1">info@isonex.io</span>
                                </li>
                                <li>
                                    <i class="ti-comment-alt"></i>
                                    <span class="ml-1">Join us on Telegram</span>
                                </li>
                            </ul>*@

                        </div>
                    </div>
                    <div class="card text-white bg-primary py-5">
                        <div class="card-body text-center">
                            <div>
                                <h2>Sign up</h2>
                                <p>Create a new Isonex account if you do not already have one.</p>
                                <a asp-action="Register" class="btn btn-primary active mt-3">Register Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/account/vendors/js/jquery.min.js"></script>
    <script src="~/account/vendors/js/popper.min.js"></script>
    <script src="~/account/vendors/js/bootstrap.min.js"></script>
</body>
</html>