﻿@model IdentityDemo.Controllers.MyTokensViewModel
@{
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
    ViewBag.BreadCrumbPage = "Deposit";
}

<!-- *PAGE* -->
<div class="animated fadeIn">

    <div class="card card-accent-info">
        <div class="card-header">IX15 Balance</div>
        <div class="card-body">
            <div class="bd-example">

                <div class="row">

                    <div class="col-md-@(Model.TotalPendingIX15FromEthereumTransfers > 0 ? "1" : "3") col-xl-@(Model.TotalPendingIX15FromEthereumTransfers > 0 ? "3" : "4")">
                    </div>

                    <div class="col-12 col-md-@(Model.TotalPendingIX15FromEthereumTransfers > 0 ? "5" : "6") col-xl-@(Model.TotalPendingIX15FromEthereumTransfers > 0 ? "3" : "4")">
                        <div class="card">
                            <div class="card-body p-0 d-flex align-items-center">
                                <i class="fa fa-check-circle bg-info p-4 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-info">@Model.TotalDeliveredIX15FromEthereumTransfers IX15</div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Balance</div>

                                </div>
                            </div>
                        </div>
                    </div>

                    @if (Model.TotalPendingIX15FromEthereumTransfers > 0)
                    {
                        <div class="col-12 col-md-5 col-xl-3">
                            <div class="card">
                                <div class="card-body p-0 d-flex align-items-center">
                                    <i class="fa fa-hand-stop-o bg-info p-4 font-2xl mr-3"></i>
                                    <div>
                                        <div class="text-value-sm text-info">@Model.TotalPendingIX15FromEthereumTransfers IX15</div>
                                        <div class="text-muted text-uppercase font-weight-bold small">Pending Verification</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }


                    <div class="col-md-@(Model.TotalPendingIX15FromEthereumTransfers > 0 ? "1" : "3") col-xl-@(Model.TotalPendingIX15FromEthereumTransfers > 0 ? "3" : "4")">
                    </div>

                </div>

                <div class="row">
                    <div class="col-3 col-md-5">
                    </div>

                    <div class="col-6 col-md-2">
                        <a class="btn btn-square btn-block btn-primary" href="/account/deposit">Buy Tokens</a>
                    </div>

                    <div class="col-3 col-md-5">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card card-accent-info">
        <div class="card-header">Ether Deposits</div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    @if (Model.ParticipantEthereumTransactions == null || !Model.ParticipantEthereumTransactions.Any())
                    {
                        <p class="text-center">
                            You have not made any deposits yet. Please click <a asp-controller="Account" asp-action="Deposit" class="btn-ghost-dark">here</a> to participate in the token sale.
                        </p>
                    }
                    else
                    {

                        <div class="card">

                            <div class="card-header">
                                <i class="fa fa-align-justify"></i>Transactions
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm">
                                    <thead>
                                        <tr>
                                            <th>Date</th>
                                            <th>From</th>
                                            <th>To</th>
                                            <th>Eth Amount</th>
                                            <th>Eth USD Price</th>
                                            <th>IX15 USD Price</th>
                                            <th>Number of IX15 Tokens</th>
                                            <th>State</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ParticipantEthereumTransactions)
                                        {
                                        <tr>
                                            <td>@item.DateBlockMined.Value.ToString("dd/MM/yyyy HH:mm")</td>
                                            <td><etherscan-address>@item.FromAddress</etherscan-address></td>

                                            <td>
                                                <etherscan-address>@item.DepositingAddress.Address</etherscan-address>
                                            </td>
                                            <td>@(item.DepositedAmount / Math.Pow(10, 18))</td>
                                            <td>@item.EthUsdPriceAtDateBlockMined</td>
                                            <td>@item.Ix15UsdStagePrice</td>
                                            <td>@(item.NumberOfIx15TokensAssigned / Math.Pow(10, 18))</td>
                                            <td>
                                                @if (item.Ix15TokensTransferedToParticipant)
                                                {
                                                    <span class="badge badge-success">Verified</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-warning">Pending Verification</span>
                                                }
                                            </td>
                                        </tr>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <small class="float-right">
                            Please allow some time for your transaction to appear in the table*
                        </small>
                    }
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /*PAGE* -->
