﻿@model IdentityDemo.Models.AccountViewModels.ProfileViewModel
@{
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
    ViewBag.BreadCrumbPage = "Team Page";
}

<!-- *PAGE* -->
<div class="animated fadeIn">

    <div class="card card-accent-info">
        <div class="card-header">Profile</div>
        <div class="card-body">
            <div class="bd-example">

                <div class="row">

                    <div class="col-md-3">
                    </div>

                    <div class="col-md-6">

                        <form action="profile" method="post" class="form-horizontal" style="margin: auto">
                            <div class="card card-accent-info">

                                <div class="card-header">
                                    <strong>Profile Details</strong>
                                </div>

                                <div class="card-body">

                                    <div class="form-group">
                                        <label for="FirstName">First Name</label>
                                        <input asp-for="FirstName" type="text" class="form-control" id="FirstName" name="FirstName" placeholder="Enter Your First Name">
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="FirstName">Last Name</label>
                                        <input asp-for="LastName" type="text" class="form-control" id="FirstName" name="LastName" placeholder="Enter Your Last Name">
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-3">
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<!-- /*PAGE* -->
