﻿@model RegisterViewModel
@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/images/ico/favicon.ico?v=3">
    <title>ISONEX CAPITAL - Create Account</title>
    <!-- Icons -->
    <link href="~/account/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/account/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/account/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h1>Register</h1>
                        <p class="text-muted">Create your account</p>
                        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-addon">@@</span>
                                    <input asp-for="Email" class="form-control" placeholder="Email" />
                                </div>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                    <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                                </div>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="icon-user"></i></span>
                                    <input asp-for="LastName" class="form-control" placeholder="Last Name" />
                                </div>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <input asp-for="Password" class="form-control" placeholder="Password" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <span class="input-group-addon"><i class="icon-lock"></i></span>
                                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Repeat password" />
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="md-form mb-4">
                                <small>Please tick this box if you would like to subscribe to our newsletter</small>
                                <span style="color: #bf0000; padding: 0 2px 0 2px;"></span>
                                <input asp-for="Subscribe" type="checkbox" id="subscribeI" class="validate" />
                            </div>
                            <div class="md-form mb-4">
                                <small>Please state that you have read and agreed to our <a target="_blank" href="/privacy-policy">privacy policy</a> which explains what we do with the information that you provide to us.</small>
                                <span style="color: #bf0000; padding: 0 5px 0 5px;">*</span>
                                <input asp-for="IAgree" type="checkbox" id="subscribeIAgree" class="validate" />
                            </div>
                            <button type="submit" class="btn btn-block btn-success">Create Account</button>
                        </form>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/account/vendors/js/jquery.min.js"></script>
    <script src="~/account/vendors/js/popper.min.js"></script>
    <script src="~/account/vendors/js/bootstrap.min.js"></script>
</body>
</html>