﻿@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/images/ico/favicon.ico?v=1">
    <title>ISONEX CAPITAL - Reset password Confirmation</title>
    <!-- Icons -->
    <link href="~/account/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/account/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/account/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">

                            <h1>Reset password Confirmation</h1>

                            <br />
                            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        Your password has been reset. Please&nbsp;<a asp-action="Login">click here to log in</a>.
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/account/vendors/js/jquery.min.js"></script>
    <script src="~/account/vendors/js/popper.min.js"></script>
    <script src="~/account/vendors/js/bootstrap.min.js"></script>
</body>
</html>
