﻿@model ForgotPasswordViewModel

@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/images/ico/favicon.ico?v=1">
    <title>ISONEX CAPITAL - Forgot password</title>
    <!-- Icons -->
    <link href="~/account/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/account/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    <link href="~/account/css/style.css" rel="stylesheet">
    <!-- Styles required by this views -->
</head>
<body class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card-group">
                    <div class="card p-4">
                        <div class="card-body">

                            <h1>Resend Confirmation Email</h1>

                            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <span class="input-group-addon"><i class="icon-user"></i></span>
                                        <input asp-for="Email" class="form-control" placeholder="Email" />
                                    </div>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary px-4">Resend Confirmation Email</button>

                                    </div>
                                    <div class="col-6 text-right">
                                        <p>
                                            <a asp-controller="Account" asp-action="Login">Login</a>
                                        </p>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/account/vendors/js/jquery.min.js"></script>
    <script src="~/account/vendors/js/popper.min.js"></script>
    <script src="~/account/vendors/js/bootstrap.min.js"></script>
</body>
</html>