﻿@model VerifyViewModel
@{
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
    ViewBag.BreadCrumbPage = "Verification";
}

<!-- *PAGE* -->
<div class="animated fadeIn">
    <div class="row">

        <!--/.col-->
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <form action="Verification" method="post" enctype="multipart/form-data" class="form-horizontal">
                <div class="card card-accent-info">



                    <div class="card-header">
                        <strong>Identity Verification</strong>
                    </div>

                    <div class="card-body">

                        <div class="form-group">
                            <label for="FirstName">First Name</label>
                            <input asp-for="FirstName" type="text" class="form-control" id="firstName" name="FirstName" placeholder="Enter Your First Name">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="street">Middle Name</label>
                            <input asp-for="MiddleName" type="text" class="form-control" id="middleName" name="MiddleName" placeholder="Enter Your Middle Name">
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="street">Last Name</label>
                            <input asp-for="LastName" type="text" class="form-control" id="lastName" name="LastName" placeholder="Enter Your Last Name">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label for="DobDay">Date of Birth</label>
                                <select class="form-control" id="dobDay" asp-for="DobDay">
                                    @for (int i = 1; i <= 31; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="DobMonth">&nbsp;</label>
                                <select class="form-control" id="dobMonth" asp-for="DobMonth">
                                    @for (int i = 1; i <= 12; i++)
                                    {
                                        <option value="@i">@(new System.DateTime(2012, i, 1).ToString("MMMM"))</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="DobYear">&nbsp;</label>
                                <select class="form-control" id="dobYear" asp-for="DobYear">
                                    @for (int i = DateTime.Now.Year - 18; i > DateTime.Now.Year - 118; i--)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="vat">Citizen ID Number</label>
                            <input type="text" class="form-control" id="vat" placeholder="Enter Your Identification Number">
                        </div>
                        <div class="form-group">
                            <label for="addressLine1">Address Line 1</label>
                            <input asp-for="AddressLine1" type="text" class="form-control" id="addressLine1" name="AddressLine1" placeholder="Enter Your Address Line 1">
                            <span asp-validation-for="AddressLine1" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label for="AddressLine2">Address Line 2</label>
                                <input asp-for="AddressLine2" type="text" class="form-control" id="addressLine2" placeholder="Enter Your Address Line 2">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="postalCode">Postal Code</label>
                                <input asp-for="PostalCode" type="text" class="form-control" id="postalCode" placeholder="Enter Your Postal Code">
                            </div>
                        </div>
                        <!--/.row-->

                        <div class="form-group">
                            <label for="country">Country</label>
                            <select class="form-control" id="country" asp-for="CountryCode" >
                                @foreach (var country in ShuftiProCountries.GetCountries())
                                {
                                    <option value="@country.Value">@country.Key</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
                        @*<button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>*@
                    </div>
                </div>
            </form>
        </div>
        <!--/.col-->
        <div class="col-sm-3">
        </div>
    </div>
    <!--/.row-->
</div>
<!-- /*PAGE* -->
