﻿@model IdentityDemo.Controllers.AccountModel
@{
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
    ViewBag.BreadCrumbPage = "Deposit";
}

<!-- *PAGE* -->
<div class="animated fadeIn">

    <div class="card card-accent-info">
        <div class="card-header">Account Verification Complete</div>
        <div class="card-body">
            <p>
                Your account has been verified. You may participate in the token sale by purchasing tokens <a asp-controller="Account" asp-action="deposit" class="btn-ghost-dark">here</a>.
            </p>
        </div>
    </div>

</div>
<!-- /*PAGE* -->
