﻿@model IdentityDemo.Controllers.AccountModel
@{
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
    ViewBag.BreadCrumbPage = "Deposit";
}

<!-- *PAGE* -->
<div class="animated fadeIn">

    <div class="card card-accent-info">
        <div class="card-header">Account Verification Unsuccessful</div>
        <div class="card-body">
            <p>
                We were unable to verify your personal information automatically. 
            </p>
            <p>
                Please send your proof of identity document to <a href="mailto:info@isonex.io" target="_top">info@isonex.io</a> for manual verification.
            </p>
        </div>
    </div>

</div>
<!-- /*PAGE* -->
