﻿@model IdentityDemo.Controllers.AccountModel
@{
    Layout = "~/Views/Shared/Account/_AccountLayout.cshtml";
    ViewBag.BreadCrumbPage = "Deposit";
}

<!-- *PAGE* -->
<div class="animated fadeIn">

    <div class="card card-accent-info">
        <div class="card-header">Account Verification Submitted</div>
        <div class="card-body">
            <p>
                The information you have provided has been submitted for verification.
            </p>
            <div class="bd-example">
                <p>
                    Please allow up to 1 hour for verification to be complete.
                </p>
            </div>
        </div>
    </div>

</div>
<!-- /*PAGE* -->
