﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="~/images/ico/favicon.ico?v=3">
    <title>ISONEX CAPITAL - Account</title>
    <!-- Icons -->
    <link href="~/account/vendors/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/account/vendors/css/simple-line-icons.min.css" rel="stylesheet">
    <!-- Main styles for this application -->
    @*<environment include="Development">*@
        <link rel="stylesheet" href="~/account/css/style.css" asp-append-version="true">
        <link rel="stylesheet" href="~/account/css/site.css" asp-append-version="true"/>
    @*</environment>*@
    @*<environment exclude="Development">
        <link rel="stylesheet" href="~/account/css/style.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/account/css/site.min.css" asp-append-version="true" />
    </environment>*@
    <!-- Styles required by this view -->
    @RenderSection("Styles", required: false)
</head>
<!-- BODY options, add following classes to body to change options

// Header options
1. '.header-fixed'					- Fixed Header

// Brand options
1. '.brand-minimized'       - Minimized brand (Only symbol)

// Sidebar options
1. '.sidebar-fixed'					- Fixed Sidebar
2. '.sidebar-hidden'				- Hidden Sidebar
3. '.sidebar-off-canvas'		- Off Canvas Sidebar
4. '.sidebar-minimized'			- Minimized Sidebar (Only icons)
5. '.sidebar-compact'			  - Compact Sidebar

// Aside options
1. '.aside-menu-fixed'			- Fixed Aside Menu
2. '.aside-menu-hidden'			- Hidden Aside Menu
3. '.aside-menu-off-canvas'	- Off Canvas Aside Menu

// Breadcrumb options
1. '.breadcrumb-fixed'			- Fixed Breadcrumb

// Footer options
1. '.footer-fixed'					- Fixed footer

-->
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
    <!-- *APP-HEADER* -->
    @Html.Partial("~/Views/Shared/Account/_AppHeader.cshtml")
    <!-- /*APP-HEADER* -->
    <div class="app-body">
        <div class="sidebar">
            <!-- *SIDEBAR-NAV* -->
            @Html.Partial("~/Views/Shared/Account/_SidebarNav.cshtml")
            <!-- /*SIDEBAR-NAV* -->
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <!-- *MAIN CONTENT* -->
        <main class="main">
            <!-- *BREADCRUMB* -->
            @Html.Partial("~/Views/Shared/Account/_BreadCrumb.cshtml")
            <!-- /*BREADCRUMB* -->
            <!-- *CONTAINER-FLUID* -->
            <div class="container-fluid">
                <!-- *PAGE* -->
                @RenderBody()
                <!-- /*PAGE* -->
            </div>
            <!-- /*CONTAINER-FLUID* -->
        </main>
        <!-- /*MAIN CONTENT* -->
    </div>
    <footer class="app-footer">
        <span class="ml-auto">Isonex</span>
    </footer>
    <!-- Bootstrap and necessary plugins -->
    <script src="~/account/vendors/js/jquery.min.js"></script>
    <script src="~/account/vendors/js/popper.min.js"></script>
    <script src="~/account/vendors/js/bootstrap.min.js"></script>
    <script src="~/account/vendors/js/pace.min.js"></script>
    <!-- Plugins and scripts required by all views -->
    <script src="~/account/vendors/js/Chart.min.js"></script>
    <!-- CoreUI main scripts -->
    <script src="~/account/js/app.js"></script>
    <!-- Plugins and scripts required by this views -->
    <!-- Custom scripts required by this view -->
    @RenderSection("Scripts", required: false)
</body>
</html>