﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!-- *APP-HEADER* -->
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
   @* <a class="navbar-brand" href="#"></a>*@

    <a class="account-logo" href="/">
        <img src="~/images/isonex_logoH.png" /> <span>ISONEX CAPITAL</span>
    </a>


    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="nav navbar-nav ml-auto">
        @Html.Partial("~/Views/Shared/Account/_UserNav.cshtml")
    </ul>
</header>
<!-- /*APP-HEADER* -->
