﻿<ol class="breadcrumb">
    <li class="breadcrumb-item">Account</li>
    <li class="breadcrumb-item">
        @ViewBag.BreadCrumbPage
        @*<a href="#">Verification</a>*@
    </li>

    @*<li class="breadcrumb-menu d-md-down-none">
        <div class="btn-group" role="group" aria-label="Button group">
            <a class="btn" href="#">
                <i class="icon-settings"></i> &nbsp;Settings
            </a>
        </div>
    </li>*@
</ol>