﻿<!-- *SIDEBAR-NAV* -->
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Index" asp-route-view="index"><i class="icon-speedometer"></i> Dashboard</a>
        </li>
        <li class="nav-title">
            Account
        </li>
        @*<li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Index" asp-route-view="verification"><i class="icon-check"></i> Verification</a>
        </li>*@
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Index" asp-route-view="deposit"><i class="icon-basket-loaded"></i> Buy Tokens</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Account" asp-action="Index" asp-route-view="my-tokens"><i class="icon-briefcase"></i> My Tokens</a>
        </li>

        @if (ViewBag.IsTeamMember != null && (bool) ViewBag.IsTeamMember)
        {
            <li class="nav-item">
                <a class="nav-link" asp-controller="Account" asp-action="Index" asp-route-view="ix-team"><i class="icon-user"></i>IX Team Member</a>
            </li>
        }

        <li class="divider"></li>
    </ul>
</nav>
<!-- /*SIDEBAR-NAV* -->
