﻿@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown user-menu-item">
        <a class="nav-link dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

            @*@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value*@

            <img src="~/account/images/default_user_icon.png" class="img-avatar" alt="user">
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="profile" ><i class="fa fa-user"></i> Profile</a>
            <div class="divider"></div>

            <form asp-area="" asp-controller="Account" asp-action="Logout">
                <button type="submit" class="dropdown-item" href="#"><i class="fa fa-lock"></i> Logout</button>
            </form>
        </div>
    </li>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item px-3">
            <a asp-area="" asp-controller="Account" asp-action="pages-register">Register</a>
        </li>
        <li class="nav-item px-3" style="margin-right: 15px !important;">
            <a asp-area="" asp-controller="Account" asp-action="pages-login">Log in</a>
        </li>
    </ul>
}
