@model ContactDto

              <section id="contact" class="contact section-padding">
                  <div class="container">
                      <div class="heading text-center">
                          <div>
                              <h6 class="sub-title">JOIN US</h6>
                              <h2 class="title">Contact</h2>
                          </div>
                          <p class="content-desc">Have questions? We’re happy to help.</p>
                      </div>
                      <div class="row">
                          <div class="col-xl-8 col-md-12 mx-auto">
                              <ul class="list-unstyled contact-info pb-5 mb-5">
                                  <li>
                                      <i class="ti-email"></i>
                                      <span class="ml-1">info@isonex.io</span>
                                  </li>
                                  <li>
                                      <i class="ti-comment-alt"></i>
                                      <span class="ml-1">Join us on Telegram</span>
                                  </li>
                              </ul>

                            <div id="thankYou" style="display: none">
                                <p>Thank you for contacting us.</p>
                                <p>We will reply as soon as possible.</p>
                            </div>
                            <div id="sendFailed" style="display: none">
                                <p>Unfortunately a problem occurred when attempting to send your message to us.</p>
                                <p>Please try again, or copy the message into the clipboard and email it to us directly: info@isonex.io</p>
                            </div>                            
                            <div id="theForm">
                                <form asp-controller="Contact" asp-action="Store"
                                    data-ajax-begin="onBegin" data-ajax-complete="onComplete"
                                    data-ajax-failure="onFailed" data-ajax-success="onSuccess"
                                    data-ajax="true" data-ajax-method="POST">

                                    @{
                                        // <div asp-validation-summary="All" class="text-danger"></div>
                                    }
                                    <div class="form-group">
                                        <label asp-for="Name"></label>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Email"></label>
                                        <input asp-for="Email" class="form-control" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Message"></label>
                                        <input asp-for="Message" class="form-control" />
                                        <span asp-validation-for="Message" class="text-danger"></span>
                                    </div>
                                    <button id="sendContactButton" type="submit" class="btn btn-gradient-purple">Send Message</button>


                                    <div id="Results"></div>
                                </form>
                            </div>
                          </div>
                      </div>
                  </div>
              </section>

<script>

    var results = $("#Results");
    var onBegin = function(){

        var $sendContactButton = $('#sendContactButton');
        $sendContactButton.prop('disabled', true);
        $sendContactButton.text("Sending...");
        $('#thankYou').hide();
        $('#sendFailed').hide();
    };

    var onComplete = function(){
        
    };

    var onSuccess = function(context){
        $('#theForm').hide();
        $('#thankYou').show();
    };

    var onFailed = function(context){

        $('#sendFailed').css({opacity: 0});
        $('#sendFailed').show();
        $('#sendFailed').animate({opacity: 1}, 300, 
                    function() {
                        $('#sendFailed').animate({opacity: .1}, 300,
                            function() {
                                $('#sendFailed').animate({opacity: 1}, 200);
                                $('#sendContactButton').prop('disabled', false);
                        })
                    });

        $('#sendContactButton').text("Send Message");
    };
</script>