﻿<div class="content-wrapper">
    <section class="content-body">
        <main>
            
            <section id="cookies" class="section-padding">
                <div class="container">
                    <div class="heading text-center">
                        <h2 class="title">Cookie Policy</h2>
                        <p class="content-desc">
                        </p>
                    </div>
                    <div class="row" style="color:white">

                        <h4>
                        What are cookies ?
                        </h4>

                        <p>
                        A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. Cookies are widely used in order to make websites work, or work more efficiently, as well as to provide information to the owners of the site.
                        </p>

                        <h4>
                        How do we use cookies?
                        </h4>

                        <p>
                            We use cookies on our website for its technical functioning and for gathering statistics.
                        </p>                        
                        
                        <h4>
                            Social media cookies
                        </h4>                        
                        
                        <p>
                            ISONEX CAPITAL is active on several social media platforms. Our presence in the Twitter, YouTube, LinkedIn, and Facebook communities strengthens our online presence and visibility.
                        </p>    
                        
                        <ul>
                            <li>
                                The ISONEX CAPITAL website does not set cookies with the display of links to our social media channels when you are browsing our website;
                            </li>                            
                            <li>
                                You can watch ISONEX CAPITAL's videos, which we upload to the website  or to our YouTube page. You can also follow links from our website to Twitter, Facebook and LinkedIn;
                            </li>                            
                            <li>
                                By clicking on the social media buttons on our website, you will be re-directed to the relevant sites, which have their own cookie and privacy policies over which we have no control;
                            </li>                            
                            <li>
                                The display of our Twitter feed on this website uses a cookie-free component provided to us by the European Commission. Clicking on the Twitter icon on this website will re-direct you to the Twitter site, which has its own cookie and privacy policies over which we have no control.
                            </li>                        
                        </ul>


                        <h4>
                            Web analytics
                        </h4>


                        <p>
                            ISONEX CAPITAL's website third parties for web analytics service. Such third parties use cookies to help to analyse the use of this site and to compile reports about website activity.
                        </p>                       
                        
                        <p>
                            By un-checking the box a cookie is stored on your computer that tells us that we are not allowed to process your data. This lasts for two years. Note that your objection only remains valid for as long as this cookie is stored on your system.
                        </p>                        
                        <p>
                            Our cookies are not used to identify you personally. They’re just there to make the site work better for you.
                        </p>                        
                        
                        <h4>
                            Privacy measures
                        </h4>

                        <p>
                            Third parties for web analytics are configured to store first-party cookies that expire after 13 months.
                        </p>


                        <p>
                            Cookies from third parties enable ISONEX CAPITAL to track the following information about visitors. We use this information to prepare aggregated, anonymous statistics reports of visitor activity:
                        </p>
                        <ul>

                            <li>
                                IP address (masked)
                            </li>
                            <li>

                                Location: country, region, city, approximate latitude and longitude (Geolocation)
                            </li>
                            <li>
                                Date and time of the request (visit to the site)
                            </li>
                            <li>
                                Title of the page being viewed (Page Title)
                            </li>
                            <li>
                                URL of the page being viewed (Page URL)
                            </li>
                            <li>
                                URL of the page that was viewed prior to the current page (Referrer URL)
                            </li>
                            <li>
                                Screen resolution of user's device
                            </li>
                            <li>
                                Time in local visitor's time-zone
                            </li>
                            <li>
                                Files that were clicked and downloaded (Download)
                            </li>
                            <li>
                                Links to an outside domain that were clicked (Outlink)
                            </li>
                            <li>
                                Pages generation time (the time it takes for webpages to be generated by the webserver and then downloaded by the visitor: Page speed)
                            </li>
                            <li>
                                Main language of the browser being used (Accept-Language header)
                            </li>
                            <li>
                                Browser version, browser plugins (PDF, Flash, Java, …) operating system version, device identifier (User-Agent header)
                            </li>
                            <li>
                                Language of the visited page
                            </li>
                            <li>
                                Campaigns
                            </li>
                            <li>
                                Site Search
                            </li>
                            <li>
                                Events
                            </li>
                        </ul>

                        <p>
                            To improve the accuracy of the produced reports, information is also stored in a first-party cookie from our website and then collected by third parties include:
                        </p>                        
                        
                        <ul>
                            <li>
                                Random unique Visitor ID
                            </li>
                            <li>
                                Time of the first visit for the specific visitor
                            </li>
                            <li>
                                Time of the previous visit for the specific visitor
                            </li>
                            <li>
                                Number of visits for the specific visitor
                            </li>
                            <li>
                                First party cookies are set by the website you’re visiting. Only that website can read them.  In addition, a website might potentially use an external service to analyse how people are using their site. Third parties sets their own cookie to do this and does not use external parties.
                            </li>
                        </ul>
                        
                        <p>
                            The data collected is masked and cannot be used to identify a particular visitor. They will not be shared with any other organisation for marketing, market research or commercial purposes.
                        </p>                        

                        <p>
                            Persistent cookies are saved on your computer and are not deleted automatically when you close your browser, unlike a session cookie, which is deleted when you close your browser. For persistent cookies, a random ID is generated, which allows third parties to identify when a user returns to the site. All persistent cookies have an expiration date (13 months), after which they are automatically removed from the user's device
                        </p>

                        <h4>
                            Do not track preferences
                        </h4>

                        <p>
                            Do not track is a function that allows visitors to opt out from being tracked by websites for any purpose including the use of analytics services, advertising networks and social platforms. Do not track options are available in a number of browsers including:
                        </p>    
                        
                        <ul>
                            <li>
                                Firefox
                            </li>
                            <li>

                                Internet Explorer
                            </li>
                            <li>
                                Chrome
                            </li>
                            <li>
                                Safari
                            </li>
                            <li>
                                Opera
                            </li>
                            <li>
                                If you enable do not track in your web browser, third parties will respect your choice;
                            </li>
                            <li>
                                If you have enabled the do not track function, you will not be tracked. This is in addition to you opting-out of the aggregation and analysis of data for our website statistics;
                            </li>
                            <li>
                                If you have not enabled the do not track option but you choose to opt-out, the cookie ‘third parties_ignore’ will be stored in your browser. All visitors with a third parties ignore cookie will not be tracked by third parties;
                            </li>
                            <li>
                                if you have disabled all cookies from your browser, we will still collect some general data about your browsing (e.g. a record of a visitor to our website) but they will be less accurate and your visit will not be tracked (Third parties cookies are not used).
                            </li>
                        </ul>


                        <h4>
                            Masking of IP addresses
                        </h4>

                        <p>
                            Note: Institution, city and country origin are determined from the full IP, then stored and aggregated before a mask is applied. Third parties usesan IP de-identification mechanism that automatically masks a portion of each visitor's IP (Internet Protocol), effectively making it impossible to identify a particular  visitor via the sole IP address.
                        </p>

                        <h4>
                            Data storage
                        </h4>

                        <p>
                            Anonymised and aggregated data are stored for an indefinite period by ISONEX CAPITAL for analysis purposes.
                        </p>

                        <h4>
                            How to control cookies
                        </h4>

                        <p>
                            You can control and/or delete cookies as you wish. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed.
                        </p>                
                        
                        <h4>
                            Managing cookies in your browser
                        </h4>

                        <p>
                            Most browsers allow you to:
                        </p>

                        <ul>
                            <li>
                                see what cookies you've got and delete them on an individual basis
                            </li>
                            <li>
                                block third party cookies
                            </li>
                            <li>
                                block cookies from particular sites
                            </li>
                            <li>
                                block all cookies from being set
                            </li>
                            <li>
                                delete all cookies when you close your browser
                            </li>

                        </ul>

                        <p>
                            If you chose to delete cookies, you should be aware that any preferences will be lost. Also, if you block cookies completely many websites (including ours) might not work properly.
                        </p>


                    </div>
                </div>
            </section>


        </main>
    </section>
</div>
