﻿<div class="content-wrapper">
    <section class="content-body">
        <main>
            
            <section id="privacy-policy" class="section-padding">
                <div class="container">
                    <div class="heading text-center">
                        <h2 class="title">Privacy Policy</h2>
                        <p class="content-desc">
                        </p>
                    </div>
                    <div class="row" style="color:white">

                        <p>
                            ISONEX CAPITAL, an exempted company registered under the laws of the Cayman Islands (“Isonex Capital” or ”We”) are committed to protecting and respecting your privacy.
                        </p>
                        <p>
                            Isonex Capital processes personal data in accordance with Article 13 of EU Regulation 679/2016 EU General Data Protection Regulation (EU-GDPR). Please read this privacy notice carefully before using our website because it will help you understand what data we collect, how we use and share the data, and what your choices are in that respect.
                        </p>
                        <p>
                            The data controller for any processing of personal data performed via the general Isonex Capital website is Isonex Capital (Communication Team).
                        </p>

                        <h4>
                            Personal data processed
                        </h4>

                        <p>
                            Through your use of the website, we may collect personal data provided by you, including without limitation:
                        </p>

                        <ul>
                            <li>
                                (a) contact information, such as your first and last name, email address, username, phone number, and home address, Ethereum address, identification numbers such as passport, national ID and photograph;
                            </li>
                            <li>
                                (b) publicly available information about you collected from third parties; and
                            </li>
                            <li>
                                (c) analytical information, such as pages and products viewed, ads clicked on, emails from us that you opened, browser, operating system ("OS"), Internet Protocol ("IP") address and device information (please refer to our cookie policy for further details).
                            </li>
                        </ul>

                        <p>
                            The terms of this privacy notice apply also to personal data received from third parties, unless we inform you otherwise. Isonex Capital is not responsible for the dissemination of your personal data by third parties.
                        </p>

                        <h4>
                            Purposes of the processing
                        </h4>

                        <div>
                            Your personal data may be processed for the following purposes:
                        </div>

                        <ul>
                            <li>
                                (a) Compliance: to fulfil obligations provided by law and regulations.
                            </li>
                            <li>
                                (b) Account registration: to create an online user account.
                            </li>
                            <li>
                                (c) Customer services: to provide you with a response to your questions (e.g., concerning products or services) and to inform you about surveys; to provide you with reports, and other documents regarding our business, products and services; and to enable you to attend events (internal and external) and webinars.
                            </li>
                            <li>
                                (d) Marketing: to send marketing communications (e.g., newsletters on latest trends and technologies, and news regarding our business, events, new products and services, and updates/news on existing products and services); to conduct market research.
                            </li>
                        </ul>

                        <p>
                            The legal bases for processing personal data are the following:
                        </p>

                        <ul>
                            <li>
                                for purpose (a): to fulfil legal obligations
                            </li>
                            <li>
                                for purpose (b) and (c): to enter into a contract with you to provide customer services as a user or, at your request, to take pre-contractual measures
                            </li>
                            <li>
                                for purpose (d): your consent
                            </li>
                        </ul>

                        <h4>
                            Nature of providing the requested data
                        </h4>

                        <p>
                            Providing your personal data is required for the purposes under points (a), (b) and (c); consequently, refusal to provide the requested data or its inaccuracy may prevent Isonex Capital from providing you with an account registration and customer services.
                        </p>
                        <p>
                            Providing your personal data for the marketing purposes under point (d) is optional; however, refusal to provide the data for these purposes may prevent Isonex Capital from providing you additional or tailored information on products/services. You may revoke your consent at any time.
                        </p>
                        <h4>
                            Methods and place of processing and place of storage of personal data
                        </h4>
                        <p>
                            Your personal data will be processed in accordance with the principles of correctness, lawfulness, and transparency.
                        </p>
                        <p>
                            Rest assured that we maintain appropriate security, technical, and organizational measures that ensure a level of security appropriate to the risk of unauthorized access to, and accidental or unlawful destruction, loss, alteration, and unauthorized disclosure of, personal data transmitted, stored, or otherwise processed. We ensure that our affiliates third-party service providers who access or handle personal data on our behalf maintain the same safeguards.
                        </p>
                        <p>
                            Your personal data will be processed manually or electronically using automated tools that ensure the security and confidentiality of the data.
                        </p>
                        <p>
                            Your processed data are stored at any external providers we entrust to store personal data.
                        </p>
                        <p>
                            We will process only personal data necessary for the above purposes. The people authorized to process personal data will immediately delete or make anonymous personal data unnecessary for the above purposes.
                        </p>

                        <h4>
                            Data retention period
                        </h4>
                        <p>

                            Your personal data will be kept by us:
                        </p>

                        <ul>
                            <li>
                                for contractual purposes: for the entire duration of your subscription on this website and, following the withdrawal of your registration, for the period thereafter which is necessary for the purposes of (i) establishment, exercise, or defense of legal claims and keeping accounting records of Isonex Capital, and (ii) fulfilment of legal obligations applicable to Isonex Capital. Please bear in mind that the statute of limitations and other applicable regulations may vary for each jurisdiction.

                            </li>
                            <li>
                                for sending newsletters, advertising material, and other communications on new products/services and updates/news on existing products/services, and for carrying out surveys, including on customer satisfaction: for 24 months from their collection, unless it is necessary under, or permitted by, applicable laws to keep them longer.
                            </li>
                            <li>
                                for the purpose of analyzing/predicting aspects concerning your personal preferences, interests and behavior in order to offer products/services tailored to you and to provide personalized advertising: for 12 months from their collection, unless it is necessary under, or permitted by, applicable laws to keep them longer.
                            </li>
                        </ul>
                        <p>

                            The data will be deleted or rendered anonymous at the end of the above-listed periods.
                        </p>

                        <h4>
                            Data dissemination, sharing and communication
                        </h4>

                        <p>
                            Personal data will be disseminated only to the extent necessary for Isonex Capital to fulfil the obligations provided by law or regulations.
                        </p>
                        <p>
                            Your data may be processed by Isonex Capital team authorized to process personal data for the purposes set out above. Isonex Capital may appoint external data processors to manage customer relationship databases; to send newsletters; to provide call center; and to carry out surveys.
                        </p>
                        <p>
                            Your data may be shared with professionals, law firms, and notaries for auditing and due diligence activities. The above entities/individuals will act as autonomous data controllers or data processors.
                        </p>
                        <p>
                            The list of the above entities/individuals is kept up-to-date, and you can access it on request.
                        </p>
                        <p>
                            Right to access, correct, and supplement data and object to processing and to submit complaints
                        </p>
                        <p>
                            You have the right to obtain confirmation of the existence or non-existence of personal data relating to you.
                        </p>
                        <p>
                            You also have the right to be informed of the following:
                        </p>
                        <ul>
                            <li>
                                the origin of the personal data
                            </li>
                            <li>
                                the purpose and methods of data processing
                            </li>
                            <li>
                                the logic applied to the data processed electronically
                            </li>
                            <li>
                                the identity of the data controller and the data processors
                            </li>
                            <li>
                                the identity of the individuals or categories of individuals to whom your personal data may be sent to or who may acquire your data as appointed representatives of our company in your country of residence or as individuals authorized to process your data
                            </li>
                        </ul>

                        <p>

                            You equally have the right to:
                        </p>

                        <ul>
                            <li>
                                (a) have your data updated, corrected, and supplemented
                            </li>
                            <li>
                                (b) have the processing of your personal data restricted, any unlawfully processed data erased, made anonymous, or blocked
                            </li>
                            <li>
                                (c) require a declaration attesting that the people/companies we communicate or disseminate your data to have been notified and given full details of any of the operations under points (a) and (b) above having been carried out, unless this proves impossible or implies an effort that is clearly disproportionate to the right to be protected
                            </li>
                            <li>
                                (d) obtain, in a structured format commonly used and readable by electronic devices, the personal data provided you give us and to have the data transmitted, directly or through Isonex Capital, to another data controller (known as data portability)
                            </li>
                        </ul>

                        <p>

                            You also have the right to object, in whole or in part, to the processing of your personal data to carry out profiling, to send you advertising material and direct sales messages and to conduct market or commercial communication surveys.
                        </p>


                        <h4>
                            Cookies:
                        </h4>

                        <p>

                            Isonex Capital website uses third parties for web analytic services to help analyse the use of the isonex.io website. For more information see our cookies policy page.
                        </p>
                        <p>

                            You have the right to access your personal data, the right to correct any inaccurate or incomplete personal data and the right to delete your data. If you have any queries concerning the processing of your personal data in the context of the Isonex Capital website, you may address them to following e-mail address: info@isonex.io
                        </p>
                        <p>
                            You shall have right of recourse at any time to the Isonex Capital Data Protection Officer (DPO) at dataprotection@isonex.io
                        </p>
                        <p>
                            If you believe that we or a person/company we have communicated your data to has violated your rights, you may file a complaint with the Data Protection Authority in your country and other competent supervisory authorities.
                        </p>

                    </div>
                </div>
            </section>


        </main>
    </section>
</div>
