@model IdentityDemo.Models.SubscriptionViewModels.SubscriptionViewModel

<div id="thankYouSubscription" style="display: none; text-align: center">
    Thank you for signing up. You will be the first to know about our progress. Stay tuned.
</div>
<div id="sendFailedSubscription" style="display: none; text-align: center">
    <p>Unfortunately a problem occurred when attempting to subscribe you.</p>
    <p>Please try again, or copy the message into the clipboard and email it to us directly: info@isonex.io</p>
</div>
<div id="frmSubscription">

    <form asp-controller="Subscription" asp-action="Subscribe"
          data-ajax-begin="onBeginSubscription" data-ajax-complete="onCompleteSubscription"
          data-ajax-failure="onFailedSubscription" data-ajax-success="onSuccessSubscription"
          data-ajax="true" data-ajax-method="POST">
        <div class="modal-body mx-3">
            <div class="md-form mb-5">
                <i class="fa fa-user prefix grey-text"></i>
                <input asp-for="FullName" class="form-control validate" placeholder="Your name" />
            </div>

            <div class="md-form mb-4">
                <i class="fa fa-envelope prefix grey-text"></i>
                <input asp-for="Email" class="form-control validate" placeholder="Your email" />
            </div>

            <div class="md-form mb-4">
                <small>Please state that you have read and agreed to our <a target="_blank" href="/privacy-policy">privacy policy</a> which explains what we do with the information that you provide to us.</small>
                <span style="color: #bf0000; padding: 0 5px 0 5px;">*</span>
                <input asp-for="IAgree" type="checkbox" id="subscribeIAgree" class="validate" />
            </div>

            <small>You can unsubscribe anytime</small>
        </div>
        <div class="modal-footer d-flex justify-content-center">
            <button id="btnSubscribe" type="submit" class="btn">Subscribe <i class="fa fa-paper-plane-o ml-1"></i></button>
        </div>
    </form>
</div>

<script>

    $(document).ready(function() {
        $('#subscribeIAgree').change(function() {
                if(this.checked) {
                    $('#btnSubscribe').addClass("btn-gradient-purple");
                }
                else {
                    $('#btnSubscribe').removeClass("btn-gradient-purple");
                }
        })
    })

    var onBeginSubscription = function () {

        if (!$('#subscribeIAgree').is(":checked")) { 
            return false;
        }

        var btnSubscribe = $('#btnSubscribe');
        btnSubscribe.prop('disabled', true);
        btnSubscribe.text("Subscribing...");
        $('#thankYouSubscription').hide();
        $('#sendFailedSubscription').hide();
    };

    var onCompleteSubscription = function () {

    };

    var onSuccessSubscription = function (context) {
        $('#frmSubscription').hide();
        $('#thankYouSubscription').show();
    };

    var onFailedSubscription = function (context) {

        $('#sendFailedSubscription').css({ opacity: 0 });
        $('#sendFailedSubscription').show();
        $('#sendFailedSubscription').animate({ opacity: 1 }, 300,
            function () {
                $('#sendFailedSubscription').animate({ opacity: .1 }, 300,
                    function () {
                        $('#sendFailedSubscription').animate({ opacity: 1 }, 200);
                        $('#btnSubscribe').prop('disabled', false);
                    })
            });

        $('#btnSubscribe').text("Subscribe");
    };
</script>