@model isonexwebsite.Data.Entities.TeamMember

        <div class="col-sm-12 col-md-6 col-lg-4 mb-5 animated" data-animation="flipInX" data-animation-delay="0.8s">
            <div class="d-flex team-member">
                <div class="team-img float-left mr-3" data-toggle="modal" data-target="@($"#teamUser{@Model.Name.Replace(" ", string.Empty)}")">
                    <img src="@Model.ImgSrc" alt="@Model.Name" class="rounded-circle" width="128">
                </div>
                <div class="profile align-self-center">
                    <div class="name">@Model.Name</div>
                    <div class="role">@Model.Role</div>
                    <div class="social-profile mt-3">
                        <a target="_blank" href="@Model.LinkedInUrl" title="Link" class="font-medium grey-accent2 mr-2">
                            <i class="@Model.IconType"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
