﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}

    <!-- //////////////////////////////////// CONTAINER ////////////////////////////////////-->
    <div class="content-wrapper">
      <div class="content-body">
        <main><!-- Blog Area -->
            <section class="blog-area" id="head-area">
                <div class="blog-head" data-midnight="white">
                    <div class="blog-head-content">
                        <img src="~/images/blockchain.png" alt="Blog 1">
                    </div>
                </div>
                <div class="container blog-container">
                    <!-- Blog listing page -->
                    <div class="post-listing">
                        <div class="row">
                            <!-- Blog Content area -->
                            <div class="offset-2 col-md-8 col-lg-8">
                                <!-- Breadcrumb -->
                                <!-- <div class="breadcrumb">
                                    <a href="index.html">Home</a> / 
                                    <a href="template-blog.html">Blog</a> / 
                                    <a class="current">Blog Detail Page</a>
                                </div> -->
                                <!--/ Breadcrumb -->
                                <!-- Blog Post-->
                                <div class="card square">
                                    <div class="card-body">
                                        <div class="heading text-center">
                                            <div>
                                                <h2 class="title">Log In</h2>
                                            </div>
                                        </div>
                                        <div id="loginformdiv" class="row">
                                            <div class="col-xl-8 col-md-12 mx-auto">
                                                <div class="login-form-container">

                                                    <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                                                        <hr />
                                                        <div asp-validation-summary="All" class="text-danger"></div>
                                                        <div class="form-group">
                                                            <label asp-for="Email"></label>
                                                            <input asp-for="Email" class="form-control" />
                                                            <span asp-validation-for="Email" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label asp-for="Password"></label>
                                                            <input asp-for="Password" class="form-control" />
                                                            <span asp-validation-for="Password" class="text-danger"></span>
                                                        </div>
                                                        <!-- <div class="form-group">
                                                            <div class="checkbox">
                                                                <label asp-for="RememberMe">
                                                                    <input asp-for="RememberMe" />
                                                                    @Html.DisplayNameFor(m => m.RememberMe)
                                                                </label>
                                                            </div>
                                                        </div> -->
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-lg btn-gradient-purple btn-glow">Log in</button>
                                                        </div>
                                                        <div class="form-group">
                                                            <p>
                                                                <a asp-action="ForgotPassword">Forgot your password?</a>
                                                            </p>
                                                            <p>
                                                                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                                                            </p>
                                                        </div>
                                                    </form>
            
                                                </div>           

                                                <p class="content-desc">Trouble logging in? Contact us: info@isonex.io</p>             
                                                <ul class="list-unstyled contact-info pb-5 mb-5">
                                                    <li>
                                                        <i class="ti-headphone"></i>
                                                        <span class="ml-1">+44 xxxx xxxx</span>
                                                    </li>
                                                    <li>
                                                        <i class="ti-email"></i>
                                                        <span class="ml-1">info@isonex.io</span>
                                                    </li>
                                                    <li>
                                                        <i class="ti-comment-alt"></i>
                                                        <span class="ml-1">Join us on Telegram</span>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Blog Post-->

                            </div>
                            <!--/ Blog Content area -->
                        </div>
                    </div>
                    <!--/ Blog listing page -->
                </div>
            </section>
<!--/ Blog Area -->
        </main>
      </div>
    </div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
