﻿@model LoginWithRecoveryCodeViewModel
@{
    ViewData["Title"] = "Recovery code verification";
}



    <!-- //////////////////////////////////// CONTAINER ////////////////////////////////////-->
    <div class="content-wrapper">
      <div class="content-body">
        <main><!-- Blog Area -->
            <section class="blog-area" id="head-area">
                <div class="blog-head" data-midnight="white">
                    <div class="blog-head-content">
                        <img src="~/images/blockchain.png" alt="Blog 1">
                    </div>
                </div>
                <div class="container blog-container">
                    <!-- Blog listing page -->
                    <div class="post-listing">
                        <div class="row">
                            <!-- Blog Content area -->
                            <div class="offset-2 col-md-8 col-lg-8">
                                <!-- Breadcrumb -->
                                <!-- <div class="breadcrumb">
                                    <a href="index.html">Home</a> / 
                                    <a href="template-blog.html">Blog</a> / 
                                    <a class="current">Blog Detail Page</a>
                                </div> -->
                                <!--/ Breadcrumb -->
                                <!-- Blog Post-->
                                <div class="card square">
                                    <div class="card-body">
                                        <div class="heading text-center">
                                            <div>
                                                <h2 class="title">Log In With Recovery Code</h2>
                                            </div>
                                        </div>
                                        <div id="loginformdiv" class="row">
                                            <div class="col-xl-8 col-md-12 mx-auto">
                                                <div class="login-form-container">
                                                    <form method="post">
                                                        <div asp-validation-summary="All" class="text-danger"></div>
                                                        <div class="form-group">
                                                            <label asp-for="RecoveryCode"></label>
                                                            <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                                                            <span asp-validation-for="RecoveryCode" class="text-danger"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="submit" class="btn btn-lg btn-gradient-purple btn-glow">Log in</button>
                                                        </div>
                                                        <button type="submit" class="btn btn-default">Log in</button>
                                                    </form>
                                                </div>           

                                                <p class="content-desc">Trouble logging in? Contact us: info@isonex.io</p>             
                                                <ul class="list-unstyled contact-info pb-5 mb-5">
                                                    <li>
                                                        <i class="ti-headphone"></i>
                                                        <span class="ml-1">+44 xxxx xxxx</span>
                                                    </li>
                                                    <li>
                                                        <i class="ti-email"></i>
                                                        <span class="ml-1">info@isonex.io</span>
                                                    </li>
                                                    <li>
                                                        <i class="ti-comment-alt"></i>
                                                        <span class="ml-1">Join us on Telegram</span>
                                                    </li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--/ Blog Post-->

                            </div>
                            <!--/ Blog Content area -->
                        </div>
                    </div>
                    <!--/ Blog listing page -->
                </div>
            </section>
<!--/ Blog Area -->
        </main>
      </div>
    </div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<h2>@ViewData["Title"]</h2>
<hr />
<p>
    You have requested to login with a recovery code. This login will not be remembered until you provide
    an authenticator app code at login or disable 2FA and login again.
</p>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecoveryCode"></label>
                <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="RecoveryCode" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Log in</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}